:root {
    --primaryColor: rgb(64, 29, 25);
    --backgroundColor: rgb(245, 240, 240);
    --colorWhenClicked: rgb(232, 153, 153);

    /*fonts*/
    --mainFont: "Autour One", system-ui;
    --main_textFontWeight: 400;
    --main_textFontStyle: normal;

    --textFont: "Aubrey", system-ui;
}

body {
    margin: 30px;

    background-color: var(--backgroundColor);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--colorWhenClicked);
}

#issa-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7rem;

    font-family: var(--textFont);
    font-weight: var(--main_textFontWeight);
    font-style: var(--main_textFontStyle);

    .logo-container {
        display: flex;

        color: var(--primaryColor);
        gap: 15px;
    }

    .option-container {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;       

        padding: 5px;

        height: 65px;
        width: 550px;

        background-color: var(--primaryColor);
        border: none;
        border-radius: 20px;

        li {
            flex: 1;
            color: var(--backgroundColor);
            text-align: center;

            font-size: 0.9rem;
        } 
        
        .issa-archives {
            display: flex;
            flex: 1.5;
            justify-content: end;

            margin-right: 10px;
        }
    }
}

.divider-one {
    margin-top: 30px;   
}

#body-container {
    display: flex;
    justify-content: space-between;

    .content-container {
        display: flex;
        flex-direction: column;

        height: 300px;
        width: 700px;

        color: var(--primaryColor);

        p {
            font-family: var(--textFont);
            font-weight: var(--main_textFontWeight);
            font-style: var(--main_textFontWeight);

            font-size: 1.5rem;
            line-height: 1.8rem; 
            
            margin: 0;
        } 

        h1 {
            margin-bottom: 1rem;

            font-family: var(--mainFont);
            font-weight: var(--main_textFontWeight);
            font-style: var(--mainFontStyle);
        }

        .latest-blog-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 30px;

            height: 100px;
            width: inherit;
            div {
                height: 50px;

                border: 1px solid var(--primaryColor);
                border-left: none;
                border-right: none;
            }
        }
    }

    .img-container {
        margin-right: 100px;
    }
}